<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test suite">
    <test name="Login">
        <classes>
            <class name="Vytrack_PageTests.LoginPageTest"/>
            <class name="Vytrack_PageTests.Fleet_VehiclesPageTest"/>
        </classes>
    </test>

    <test name="calendar event">
        <classes>
           <class name="Vytrack_PageTests.Activities_CalendarEventsTest"/>

        </classes>
    </test>








</suite>